Load the dataset and save it as df variable

In [1]:
import sklearn
from sklearn import datasets, model_selection, ensemble

import numpy as np
import pandas as pd

df = pd.read_excel('bank-additional-full.xlsx')

Divide the dataset into training and testing subsets

In [2]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93994.0,-36.4,4857.0,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93994.0,-36.4,4857.0,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93994.0,-36.4,4857.0,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93994.0,-36.4,4857.0,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93994.0,-36.4,4857.0,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94767.0,-50.8,1028.0,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94767.0,-50.8,1028.0,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94767.0,-50.8,1028.0,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94767.0,-50.8,1028.0,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94767.0,-50.8,1028.0,4963.6,no

In [3]:
df['y'] = df['y'].map({'no': 0, 'yes': 1})

### **Feature Engineering:** `Feature Selection`

**Definition**: Feature Selection is the process of selecting a subset of relevant features for use in machine learning model building. 

It is not always the truth that the more data, the better the result will be. Including irrelevant features (the ones that are just unhelpful to the prediction) and redundant features (irrelevant in the presence of others) will only make the learning process overwhelmed and easy to cause overfitting.

#### **Why Feature Selection Matters?**

With feature selection, we can have:

- simplification of models to make them easier to interpret
- shorter training times and lesser computational cost
- lesser cost in data collection
- avoid the curse of dimensionality
- enhanced generalization by reducing overfitting 

We should keep in mind that different feature subsets render optimal performance for different algorithms. So it's not a separate process along with the machine learning model training. Therefore, if we are selecting features for a linear model, it is better to use selection procedures targeted to those models, like importance by regression coefficient or Lasso. And if we are selecting features for trees, it is better to use tree derived importance.

#### **1. Filter Method**

Filter methods select features based on a performance measure regardless of the ML algorithm later employed.

Univariate filters evaluate and rank a single feature according to a certain criteria, while multivariate filters evaluate the entire feature space. Filter methods are:

- selecting variable regardless of the model
- less computationally expensive
- usually give lower prediction performance

As a result, filter methods are suited for a first step quick screen and removal of irrelevant features.

**Note**: 
* One thing to keep in mind when using chi-square test or univariate selection methods, is that in very big datasets, most of the features will show a small p_value, and therefore look like they are highly predictive. This is in fact an effect of the sample size. So care should be taken when selecting features using these procedures. An ultra tiny p_value does not highlight an ultra-important feature, it rather indicates that the dataset contains too many samples. 

* Correlated features do not necessarily affect model performance (trees, etc), but high dimensionality does and too many features hurt model interpretability. So it's always better to reduce correlated features.

---

In [4]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder, RobustScaler
from sklearn.impute import SimpleImputer

# Separate features (X) and target variable (y)
X = df.drop(columns=['y'])
y = df['y']

# Identify categorical and numerical columns
categorical_columns = X.select_dtypes(include=['object']).columns
numerical_columns = X.select_dtypes(exclude=['object']).columns

# Create transformers for encoding and scaling
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('one_hot_encoder', OneHotEncoder(drop='first'))  # Use drop='first' to avoid the dummy variable trap
])

numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', RobustScaler())
])

# Combine transformers using ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_columns),
        ('cat', categorical_transformer, categorical_columns)
    ])

# Apply transformations to X
X_transformed = preprocessor.fit_transform(X)

# Display the transformed DataFrame (optional)
df_encoded = pd.DataFrame(X_transformed, columns=numerical_columns.tolist() + preprocessor.named_transformers_['cat'].named_steps['one_hot_encoder'].get_feature_names_out(categorical_columns).tolist())

# You can now use X_transformed for further analysis or modeling

---

In [5]:
df_encoded

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
0,1.200000,0.373272,-0.5,0.0,0.0,0.0000,0.222525,0.857143,0.000272,0.000000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1.266667,-0.142857,-0.5,0.0,0.0,0.0000,0.222525,0.857143,0.000272,0.000000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,-0.066667,0.211982,-0.5,0.0,0.0,0.0000,0.222525,0.857143,0.000272,0.000000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.133333,-0.133641,-0.5,0.0,0.0,0.0000,0.222525,0.857143,0.000272,0.000000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,1.200000,0.585253,-0.5,0.0,0.0,0.0000,0.222525,0.857143,0.000272,0.000000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,2.333333,0.709677,-0.5,0.0,0.0,-0.6875,0.924614,-1.428571,-1.040217,-1.762791,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
41184,0.533333,0.935484,-0.5,0.0,0.0,-0.6875,0.924614,-1.428571,-1.040217,-1.762791,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
41185,1.200000,0.041475,0.0,0.0,0.0,-0.6875,0.924614,-1.428571,-1.040217,-1.762791,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
41186,0.400000,1.207373,-0.5,0.0,0.0,-0.6875,0.924614,-1.428571,-1.040217,-1.762791,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
41187,2.400000,0.271889,0.5,0.0,1.0,-0.6875,0.924614,-1.428571,-1.040217,-1.762791,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
X = df_encoded

In [7]:
y

0        0
1        0
2        0
3        0
4        0
        ..
41183    1
41184    0
41185    0
41186    1
41187    0
Name: y, Length: 41188, dtype: int64

In [8]:
from sklearn.model_selection import GridSearchCV,StratifiedKFold,train_test_split, cross_val_score

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=42,stratify=y)

In [10]:
from sklearn.feature_selection import SelectKBest

**1. F-Statistics**

Compute the ANOVA F-value between the feature and the target labels to determine the relationship's statistical significance. The methods based on F-test estimate the degree of linear dependency between two random variables, which is a measure of the difference in means between multiple groups of data.

In [11]:
selector = SelectKBest(score_func=sklearn.feature_selection.f_classif, k=5)

selector.fit(X_train, y_train)

X_train.columns[selector.get_support()]

Index(['duration', 'pdays', 'emp.var.rate', 'nr.employed', 'poutcome_success'], dtype='object')

**2. Mutual Information (MI)**

Mutual information (MI) between two random variables is a non-negative value, which measures any kind of statistical dependency between the variables, but being nonparametric, they require more samples for accurate estimation.

In [12]:
selector = SelectKBest(score_func=sklearn.feature_selection.mutual_info_classif, k=5)

selector.fit(X_train, y_train)

X_train.columns[selector.get_support()]

Index(['duration', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
       'nr.employed'],
      dtype='object')

____

#### **2. Wrapper Method**

Wrappers use a search strategy to search through the space of possible feature subsets and evaluate each subset by the quality of the performance on a ML algorithm. Practically any combination of search strategy and algorithm can be used as a wrapper. It is featured as:

- use ML models to score the feature subset
- train a new model on each subset
- very computationally expensive
- usually provide the best performing subset for a give ML algorithm, but probably not for another
- need an arbitrary defined stopping criteria

The most common **search strategy** group is Sequential search, including Forward Selection, Backward Elimination and Exhaustive Search. Randomized search is another popular choice, including Evolutionary computation algorithms such as genetic, and Simulated annealing.

Another key element in wrappers is **stopping criteria**. When to stop the search? In general there're three:

- performance increase
- performance decrease
- predefined number of features is reached

In [13]:
from mlxtend.feature_selection import SequentialFeatureSelector

**1. Forward Selection**

Step forward feature selection starts by evaluating all features individually and selects the one that generates the best performing algorithm, according to a pre-set evaluation criteria. In the second step, it evaluates all possible combinations of the selected feature and a second feature, and selects the pair that produce the best performing algorithm based on the same pre-set criteria.

This selection procedure is called greedy, because it evaluates all possible single, double, triple and so on feature combinations. Therefore, it is quite computationally expensive, and sometimes, if feature space is big, even unfeasible.

In [16]:
from imblearn.over_sampling import RandomOverSampler
oversampler = RandomOverSampler(random_state=42)

In [17]:
X_train_resampled, y_train_resampled = oversampler.fit_resample(X_train, y_train)

In [18]:
from xgboost import XGBClassifier
from imblearn.over_sampling import RandomOverSampler

# Instantiate XGBoost classifier
model = XGBClassifier(n_estimators=5)
sampler = RandomOverSampler(random_state=42)

forward = SequentialFeatureSelector(
    estimator=model,
    k_features='best',
    forward=True, 
    verbose=0,
    scoring='precision',
    cv=3
)

forward.fit(X_train_resampled, y_train_resampled)

pd.DataFrame.from_dict(forward.get_metric_dict()).T.head(5)

c:\Users\Novaldi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\Novaldi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\Novaldi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
1,"(52,)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(poutcome_success,)",0.0047,0.002089,0.001477
2,"(10, 52)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(job_blue-collar, poutcome_success)",0.0047,0.002089,0.001477
3,"(10, 11, 52)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(job_blue-collar, job_entrepreneur, poutcome_s...",0.0047,0.002089,0.001477
4,"(10, 11, 12, 52)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(job_blue-collar, job_entrepreneur, job_housem...",0.0047,0.002089,0.001477
5,"(10, 11, 12, 13, 52)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(job_blue-collar, job_entrepreneur, job_housem...",0.0047,0.002089,0.001477

In [20]:

model_bench_sort = pd.DataFrame.from_dict(forward.get_metric_dict()).T.sort_values(by='avg_score',ascending=False)
model_bench_sort.head(20)

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
1,"(52,)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(poutcome_success,)",0.0047,0.002089,0.001477
3,"(10, 11, 52)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(job_blue-collar, job_entrepreneur, poutcome_s...",0.0047,0.002089,0.001477
4,"(10, 11, 12, 52)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(job_blue-collar, job_entrepreneur, job_housem...",0.0047,0.002089,0.001477
5,"(10, 11, 12, 13, 52)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(job_blue-collar, job_entrepreneur, job_housem...",0.0047,0.002089,0.001477
6,"(10, 11, 12, 13, 15, 52)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(job_blue-collar, job_entrepreneur, job_housem...",0.0047,0.002089,0.001477
7,"(10, 11, 12, 13, 15, 20, 52)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(job_blue-collar, job_entrepreneur, job_housem...",0.0047,0.002089,0.001477
8,"(10, 11, 12, 13, 15, 20, 24, 52)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(job_blue-collar, job_entrepreneur, job_housem...",0.0047,0.002089,0.001477
9,"(10, 11, 12, 13, 15, 20, 24, 26, 52)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(job_blue-collar, job_entrepreneur, job_housem...",0.0047,0.002089,0.001477
10,"(10, 11, 12, 13, 15, 20, 24, 26, 32, 52)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(job_blue-collar, job_entrepreneur, job_housem...",0.0047,0.002089,0.001477
2,"(10, 52)","[0.9373996789727127, 0.9322834645669291, 0.934...",0.934852,"(job_blue-collar, poutcome_success)",0.0047,0.002089,0.001477
11,"(10, 11, 12, 13, 15, 20, 24, 26, 27, 32, 52)","[0.9372674109516215, 0.9320439100888657, 0.934...",0.934573,"(job_blue-collar, job_entrepreneur, job_housem...",0.004806,0.002136,0.00151
12,"(10, 11, 12, 13, 15, 20, 24, 26, 27, 32, 36, 52)","[0.9372674109516215, 0.9311783107403545, 0.934...",0.934285,"(job_blue-collar, job_entrepreneur, job_housem...",0.005598,0.002487,0.001759
13,"(10, 11, 12, 13, 15, 20, 23, 24, 26, 27, 32, 3...","[0.9369034994697774, 0.9313572542901716, 0.933...",0.933796,"(job_blue-collar, job_entrepreneur, job_housem...",0.005206,0.002313,0.001636
16,"(3, 10, 11, 12, 13, 15, 16, 19, 20, 23, 24, 26...","[0.9329501915708812, 0.9288103201146679, 0.930...",0.930772,"(pdays, job_blue-collar, job_entrepreneur, job...",0.003819,0.001697,0.0012
15,"(3, 10, 11, 12, 13, 15, 16, 20, 23, 24, 26, 27...","[0.9329501915708812, 0.9288103201146679, 0.930...",0.930772,"(pdays, job_blue-collar, job_entrepreneur, job...",0.003819,0.001697,0.0012
14,"(3, 10, 11, 12, 13, 15, 20, 23, 24, 26, 27, 32...","[0.9297579496915045, 0.9288103201146679, 0.930...",0.929708,"(pdays, job_blue-collar, job_entrepreneur, job...",0.001605,0.000713,0.000504
17,"(3, 10, 11, 12, 13, 15, 16, 19, 20, 23, 24, 25...","[0.9283000949667616, 0.9287081339712918, 0.929...",0.928914,"(pdays, job_blue-collar, job_entrepreneur, job...",0.001356,0.000602,0.000426
19,"(3, 10, 11, 12, 13, 15, 16, 19, 20, 23, 24, 25...","[0.9298876404494382, 0.926984126984127, 0.9253...",0.927404,"(pdays, job_blue-collar, job_entrepreneur, job...",0.004231,0.00188,0.00133
20,"(3, 10, 11, 12, 13, 15, 16, 19, 20, 23, 24, 25...","[0.9306618640252139, 0.926984126984127, 0.9244...",0.927374,"(pdays, job_blue-collar, job_entrepreneur, job...",0.005716,0.00254,0.001796
18,"(3, 10, 11, 12, 13, 15, 16, 19, 20, 23, 24, 25...","[0.9265890778871978, 0.9238738738738739, 0.925...",0.92529,"(pdays, job_blue-collar, job_entrepreneur, job...",0.002501,0.001112,0.000786

In [ ]:
forward.k_feature_names_

('nr.employed', 'job_self-employed', 'marital_single', 'poutcome_success')

**2. Backward Elimination**

Step backward feature selection starts by fitting a model using all features. Then it removes one feature. It will remove the one that produces the highest performing algorithm (least statistically significant) for a certain evaluation criteria. In the second step, it will remove a second feature, the one that again produces the best performing algorithm. And it proceeds, removing feature after feature, until a certain criteria is met.

In [ ]:
# model = sklearn.ensemble.RandomForestClassifier(n_estimators=5)

# backward = SequentialFeatureSelector(
#     estimator=model,
#     k_features='best', 
#     forward=False, 
#     verbose=0,
#     scoring='precision',
#     cv=3
# )

# backward.fit(X_train, y_train)

# pd.DataFrame.from_dict(backward.get_metric_dict()).T.head(10)

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
53,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.5948660714285714, 0.5901132852729145, 0.555...",0.580139,"(age, duration, campaign, pdays, previous, emp...",0.039547,0.017574,0.012426
52,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.6097560975609756, 0.5865490628445424, 0.575...",0.590698,"(age, duration, campaign, pdays, previous, emp...",0.031896,0.014174,0.010022
51,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.591116173120729, 0.5949506037321625, 0.5823...",0.589457,"(age, duration, campaign, pdays, previous, emp...",0.011914,0.005294,0.003744
50,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.6091101694915254, 0.588421052631579, 0.5726...",0.590066,"(age, duration, campaign, pdays, previous, emp...",0.033581,0.014923,0.010552
49,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.5993265993265994, 0.5916114790286976, 0.576...",0.589064,"(age, duration, campaign, pdays, previous, emp...",0.021581,0.00959,0.006781
48,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.6016073478760046, 0.5932203389830508, 0.581...",0.592168,"(age, duration, campaign, pdays, previous, emp...",0.018386,0.00817,0.005777
47,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.6123595505617978, 0.5989417989417989, 0.557...",0.589456,"(age, duration, campaign, pdays, previous, emp...",0.052991,0.023548,0.016651
46,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.5976608187134503, 0.5962732919254659, 0.576...",0.590299,"(age, duration, campaign, pdays, previous, emp...",0.02126,0.009447,0.00668
45,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14,...","[0.5955307262569832, 0.5993303571428571, 0.578...",0.591215,"(age, duration, campaign, pdays, previous, emp...",0.020085,0.008926,0.006311
44,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14,...","[0.59375, 0.5919477693144722, 0.5878023133543638]",0.591167,"(age, duration, campaign, pdays, previous, emp...",0.005604,0.00249,0.001761

pd.DataFrame.from_dict(backward.get_metric_dict()).T.head(10)

In [ ]:
# pd.DataFrame.from_dict(backward.get_metric_dict()).T

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
53,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.5948660714285714, 0.5901132852729145, 0.555...",0.580139,"(age, duration, campaign, pdays, previous, emp...",0.039547,0.017574,0.012426
52,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.6097560975609756, 0.5865490628445424, 0.575...",0.590698,"(age, duration, campaign, pdays, previous, emp...",0.031896,0.014174,0.010022
51,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.591116173120729, 0.5949506037321625, 0.5823...",0.589457,"(age, duration, campaign, pdays, previous, emp...",0.011914,0.005294,0.003744
50,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.6091101694915254, 0.588421052631579, 0.5726...",0.590066,"(age, duration, campaign, pdays, previous, emp...",0.033581,0.014923,0.010552
49,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.5993265993265994, 0.5916114790286976, 0.576...",0.589064,"(age, duration, campaign, pdays, previous, emp...",0.021581,0.00959,0.006781
48,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.6016073478760046, 0.5932203389830508, 0.581...",0.592168,"(age, duration, campaign, pdays, previous, emp...",0.018386,0.00817,0.005777
47,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.6123595505617978, 0.5989417989417989, 0.557...",0.589456,"(age, duration, campaign, pdays, previous, emp...",0.052991,0.023548,0.016651
46,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.5976608187134503, 0.5962732919254659, 0.576...",0.590299,"(age, duration, campaign, pdays, previous, emp...",0.02126,0.009447,0.00668
45,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14,...","[0.5955307262569832, 0.5993303571428571, 0.578...",0.591215,"(age, duration, campaign, pdays, previous, emp...",0.020085,0.008926,0.006311
44,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14,...","[0.59375, 0.5919477693144722, 0.5878023133543638]",0.591167,"(age, duration, campaign, pdays, previous, emp...",0.005604,0.00249,0.001761
43,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14,...","[0.6135371179039302, 0.5988826815642458, 0.562...",0.591684,"(age, duration, campaign, pdays, previous, emp...",0.048148,0.021396,0.015129
42,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14,...","[0.6038374717832957, 0.5865687303252886, 0.590...",0.593631,"(age, duration, campaign, pdays, previous, emp...",0.016635,0.007392,0.005227
41,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14,...","[0.6206896551724138, 0.5918153200419727, 0.58125]",0.597918,"(age, duration, campaign, pdays, previous, emp...",0.037512,0.016669,0.011787
40,"(0, 1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 16...","[0.5948777648428405, 0.6, 0.5744897959183674]",0.589789,"(age, duration, campaign, pdays, previous, emp...",0.024795,0.011019,0.007791
39,"(0, 1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 16...","[0.5868392664509169, 0.6257175660160735, 0.5625]",0.591686,"(age, duration, campaign, pdays, previous, emp...",0.058587,0.026035,0.01841
38,"(0, 1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 16...","[0.5955176093916755, 0.5993690851735016, 0.570...",0.588583,"(age, duration, campaign, pdays, previous, emp...",0.028419,0.012629,0.00893
37,"(0, 1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 16...","[0.6095744680851064, 0.5972083748753739, 0.582...",0.596476,"(age, duration, campaign, pdays, previous, emp...",0.024768,0.011006,0.007783
36,"(0, 1, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 16, 1...","[0.5867082035306335, 0.5983175604626709, 0.593...",0.592956,"(age, duration, pdays, previous, emp.var.rate,...",0.010758,0.004781,0.003381
35,"(0, 1, 3, 4, 5, 7, 9, 11, 12, 13, 14, 16, 17, ...","[0.6053215077605322, 0.5820745216515609, 0.581...",0.58959,"(age, duration, pdays, previous, emp.var.rate,...",0.025041,0.011128,0.007869
34,"(0, 1, 3, 4, 5, 7, 9, 11, 12, 13, 14, 16, 17, ...","[0.5953141640042598, 0.5637651821862348, 0.578...",0.579251,"(age, duration, pdays, previous, emp.var.rate,...",0.028998,0.012886,0.009112
33,"(0, 1, 3, 4, 5, 7, 9, 11, 12, 13, 14, 17, 18, ...","[0.5946524064171123, 0.5870020964360587, 0.561...",0.581077,"(age, duration, pdays, previous, emp.var.rate,...",0.031816,0.014138,0.009997
32,"(0, 1, 3, 4, 5, 7, 9, 12, 13, 14, 17, 18, 19, ...","[0.5896860986547086, 0.580952380952381, 0.5742...",0.581622,"(age, duration, pdays, previous, emp.var.rate,...",0.014242,0.006329,0.004475
31,"(0, 1, 3, 4, 5, 7, 9, 12, 13, 14, 17, 18, 19, ...","[0.5901639344262295, 0.5969849246231156, 0.577...",0.588223,"(age, duration, pdays, previous, emp.var.rate,...",0.018148,0.008064,0.005702
30,"(0, 1, 3, 4, 5, 7, 9, 12, 13, 14, 17, 19, 22, ...","[0.5954356846473029, 0.583420776495278, 0.5681...",0.582339,"(age, duration, pdays, previous, emp.var.rate,...",0.025117,0.011161,0.007892
29,"(0, 1, 3, 4, 5, 7, 12, 13, 14, 17, 19, 22, 24,...","[0.5884816753926702, 0.5882956878850103, 0.557...",0.578108,"(age, duration, pdays, previous, emp.var.rate,...",0.032718,0.014539,0.010281
28,"(0, 1, 3, 4, 5, 7, 12, 13, 14, 17, 19, 22, 24,...","[0.5866957470010905, 0.5639763779527559, 0.583...",0.577946,"(age, duration, pdays, previous, emp.var.rate,...",0.022464,0.009983,0.007059
27,"(0, 1, 3, 4, 5, 7, 12, 13, 14, 17, 22, 24, 25,...","[0.5849056603773585, 0.5892291446673706, 0.588...",0.587557,"(age, duration, pdays, previous, emp.var.rate,...",0.004267,0.001896,0.001341
26,"(0, 1, 3, 4, 5, 7, 12, 13, 14, 17, 22, 24, 25,...","[0.5835995740149095, 0.5917525773195876, 0.554...",0.57646,"(age, duration, pdays, previous, emp.var.rate,...",0.036472,0.016208,0.01146
25,"(0, 1, 3, 4, 5, 7, 13, 14, 17, 22, 24, 25, 26,...","[0.5798994974874372, 0.5856854838709677, 0.568...",0.577951,"(age, duration, pdays, previous, emp.var.rate,...",0.016298,0.007242,0.005121
24,"(0, 1, 3, 4, 5, 7, 13, 14, 17, 22, 24, 25, 26,...","[0.5837837837837838, 0.5824742268041238, 0.582...",0.582824,"(age, duration, pdays, previous, emp.var.rate,...",0.001546,0.000687,0.000486
23,"(0, 1, 3, 4, 5, 7, 13, 14, 17, 22, 24, 25, 26,...","[0.6036916395222585, 0.5735887096774194, 0.576...",0.58466,"(age, duration, pdays, previous, emp.var.rate,...",0.030418,0.013517,0.009558
22,"(0, 1, 3, 4, 5, 7, 13, 14, 17, 22, 24, 25, 26,...","[0.5845360824742268, 0.576171875, 0.5754985754...",0.578736,"(age, duration, pdays, previous, emp.var.rate,...",0.009251,0.004111,0.002907
21,"(0, 1, 3, 4, 5, 7, 13, 17, 22, 24, 25, 26, 28,...","[0.5942668136714443, 0.5758483033932136, 0.567...",0.579228,"(age, duration, pdays, previous, emp.var.rate,...",0.025111,0.011159,0.00789
20,"(0, 1, 3, 4, 5, 7, 17, 22, 24, 25, 26, 28, 30,...","[0.5977366255144033, 0.5785785785785785, 0.569...",0.581776,"(age, duration, pdays, previous, emp.var.rate,...",0.026873,0.011942,0.008444
19,"(0, 1, 3, 4, 5, 7, 17, 22, 24, 25, 26, 30, 39,...","[0.5859938208032955, 0.5887096774193549, 0.564...",0.579586,"(age, duration, pdays, previous, emp.var.rate,...",0.024839,0.011038,0.007805
18,"(0, 1, 3, 4, 5, 7, 17, 22, 24, 25, 26, 39, 40,...","[0.5891393442622951, 0.591044776119403, 0.5670...",0.582411,"(age, duration, pdays, previous, emp.var.rate,...",0.024506,0.01089,0.0077
17,"(0, 1, 3, 4, 5, 7, 17, 22, 24, 25, 26, 39, 40,...","[0.5939139559286464, 0.5756972111553785, 0.582...",0.58415,"(age, duration, pdays, previous, emp.var.rate,...",0.016865,0.007494,0.005299
16,"(0, 1, 3, 4, 5, 7, 17, 22, 24, 25, 26, 40, 44,...","[0.600891861761427, 0.5962732919254659, 0.5717...",0.589624,"(age, duration, pdays, previous, emp.var.rate,...",0.028824,0.012809,0.009057
15,"(0, 1, 3, 4, 5, 7, 17, 22, 24, 25, 26, 40, 47,...","[0.5696465696465697, 0.563777994157741, 0.5779...",0.57046,"(age, duration, pdays, previous, emp.var.rate,...",0.013088,0.005816,0.004112
14,"(0, 1, 3, 4, 5, 7, 17, 22, 24, 25, 26, 40, 47,...","[0.5753424657534246, 0.5656063618290258, 0.561...",0.567405,"(age, duration, pdays, previous, emp.var.rate,...",0.013246,0.005886,0.004162
13,"(0, 1, 3, 4, 5, 7, 22, 24, 25, 26, 40, 47, 48)","[0.5747126436781609, 0.579624134520277, 0.5704...",0.574944,"(age, duration, pdays, previous, emp.var.rate,...",0.008395,0.003731,0.002638
12,"(0, 1, 3, 4, 5, 7, 22, 24, 25, 26, 40, 48)","[0.5807770961145194, 0.5737704918032787, 0.568...",0.574493,"(age, duration, pdays, previous, emp.var.rate,...",0.010943,0.004863,0.003438
11,"(0, 1, 3, 4, 5, 7, 22, 24, 25, 26, 48)","[0.5721544715447154, 0.5758176412289395, 0.558...",0.568884,"(age, duration, pdays, previous, emp.var.rate,...",0.016581,0.007368,0.00521
10,"(0, 1, 3, 4, 5, 7, 24, 25, 26, 48)","[0.576593720266413, 0.5667311411992263, 0.5667...",0.570028,"(age, duration, pdays, previous, emp.var.rate,...",0.010447,0.004642,0.003283
9,"(0, 1, 3, 4, 5, 7, 25, 26, 48)","[0.5791044776119403, 0.5678438661710037, 0.566...",0.57102,"(age, duration, pdays, previous, emp.var.rate,...",0.012962,0.00576,0.004073
8,"(0, 1, 3, 4, 7, 25, 26, 48)","[0.5625, 0.5740740740740741, 0.5644355644355644]",0.567003,"(age, duration, pdays, previous, cons.conf.idx...",0.011391,0.005062,0.003579
7,"(0, 1, 3, 4, 7, 25, 48)","[0.5707019328585962, 0.5715695952615992, 0.556...",0.566292,"(age, duration, pdays, previous, cons.conf.idx...",0.015436,0.00686,0.00485
6,"(0, 1, 3, 7, 25, 48)","[0.573449401523395, 0.5714285714285714, 0.5386...",0.561163,"(age, duration, pdays, cons.conf.idx, educatio...",0.035932,0.015968,0.011291
5,"(0, 1, 3, 7, 25)","[0.5692618806875632, 0.5651750972762646, 0.555...",0.563261,"(age, duration, pdays, cons.conf.idx, educatio...",0.013143,0.00584,0.00413
4,"(0, 1, 3, 7)","[0.5526315789473685, 0.5573308270676691, 0.556...",0.555412,"(age, duration, pdays, cons.conf.idx)",0.004529,0.002013,0.001423
3,"(1, 3, 7)","[0.5390909090909091, 0.5438095238095239, 0.534...",0.539261,"(duration, pdays, cons.conf.idx)",0.008205,0.003646,0.002578
2,"(3, 7)","[0.6106194690265486, 0.6747720364741642, 0.678...",0.654654,"(pdays, cons.conf.idx)",0.070156,0.031176,0.022045
1,"(3,)","[0.6381766381766382, 0.6382978723404256, 0.640...",0.638942,"(pdays,)",0.002245,0.000998,0.000705

In [ ]:
# backward.k_feature_names_

('mean texture',
 'mean perimeter',
 'mean area',
 'mean concave points',
 'mean symmetry',
 'mean fractal dimension',
 'compactness error',
 'concave points error',
 'symmetry error',
 'fractal dimension error',
 'worst radius',
 'worst texture',
 'worst area',
 'worst compactness',
 'worst concavity',
 'worst symmetry',
 'worst fractal dimension')

____ 
#### **3. Embedded Method**

Embedded Method combine the advantages of the filter and wrapper methods due to its fair computational cost and reliable performance. Embedded method are algorithm-based, where an algorithm helps extract relevant features. A learning algorithm keep track of relevant features using certain criteria and collects the most contributing features at same time during training phase. Common embedded methods include Lasso and various types of tree-based algorithms. It is featured as:

- perform feature selection as part of the model building process
- consider interactions between features
- less computationally expensive as it only train the model once, compared to Wrappers
- usually provide the best performing subset for a give ML algorithm, but probably not for another

In [ ]:
# from sklearn.feature_selection import SelectFromModel

**1. LASSO Regularization L1**

It penalize irrelevant parameters by shrinking their weights or coefficients to zero. Hence, those features are removed from the model, and it not only removes the extraneous features and prevents the model from overfitting. One can learn the complete working of regularization in [here](https://www.enjoyalgorithms.com/blog/regularization-in-machine-learning).

In [ ]:
# model = sklearn.linear_model.LogisticRegression(solver='liblinear')

# embed_lasso = SelectFromModel(
#     estimator=model,
#     max_features=5
# )
# embed_lasso.fit(X_train, y_train)

# X_train.columns[(embed_lasso.get_support())]

Index(['mean radius', 'texture error', 'worst radius', 'worst compactness',
       'worst concavity'],
      dtype='object')

**2. Random Forest Feature Importance**

The tree based model approach naturally ranks the features of a dataset by measuring how well the purity is improving. The measure of impurity is either the Gini impurity or the information gain/entropy. When training a tree, it is possible to compute how much each feature decreases the impurity. The more a feature decreases the impurity, the more important the feature is. In random forests, the impurity decrease from each feature can be averaged across trees to determine the final importance of the variable.

In [ ]:
# model = sklearn.ensemble.RandomForestClassifier()

# embed_rf = SelectFromModel(
#     estimator=model,
#     max_features=5
# )
# embed_rf.fit(X_train, y_train)

# X_train.columns[(embed_rf.get_support())]

Index(['mean concave points', 'worst radius', 'worst perimeter', 'worst area',
       'worst concave points'],
      dtype='object')